<section class="inner-bg" ng-controller="TriplistCtrl">
    <div class="smart-container">
        <div class="container">
            <div class="col-sm-12">
                <div class="heading">
                    <h1>Explore Trip<span></span></h1>   
                    <p class="explore1"> EXPLORE A DIFFERENT WAY OF TRAVELING </p>  
                    
                        <input type="search" placeholder="Search trips" ng-model="searchKeyword" class="search1" />
                     
                </div>
            </div>



            <div class="container">
                <div class="all-post triplist">
                    <div class="row">
                        <div align="center" class="navlist">
                            <button class="btn btn-default filter-button" data-filter="all">All</button>
                            <span ng-repeat="(k,cat) in catlist">
                                <button class="btn btn-default filter-button" data-filter="{{ cat.name | trim }}" >{{cat.name}}</button>
                            </span>
                        </div>
                        <br/>

                        <span ng-repeat="(k,pst) in postlist  | filter: searchKeyword">
                            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{pst.category | trim}}" ng-show="pst.status==1">                
                                <div class="single-blog-item">
                                    <div class="blog-thumnail">
                                        <a href="{{pst.paramal}}"><img src="{{pst.tripimg}}" alt="blog-img"></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-content-box">
                                            <h4><a href="trip/{{pst.paramal}}">{{pst.title}}</a></h4>
                                            <p>{{pst.description.substr(0, 70)}}</p>
                                            <a href="trip/{{pst.paramal}}" class="more-btn">View More</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </span>

                        </section>
