<!-- Footer Here -->

<footer class="footer-inr">
    <div class="smart-container">
        <div class="footer">
            <div class="container">
                <div class="col-sm-12">
                    <div class="newsletter">
                        <div class="col-sm-4">
                            <div class="logo-footer"> <img src="scss/images/footer-logo.png" alt="" >
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div ng-include='"templates/element/footerlink.html"'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div ng-include='"templates/element/lowerfooter.html"'></div>
</footer>

<!--  Footer Ends --> 
<div id="overlay1" style="position: absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.3);" > </div>
</main>
</body>
</html>