<section>

    <div class="smart-container">
        <div class="footer">
            <div class="container">

                <div class="col-sm-12">
                    <div class="newsletter">
                        <div class="col-sm-4">
                            <div class="logo-footer">
                                <img src="home/scss/images/footer-logo.png" alt="" >
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>

                        </div>

                       <div ng-include='"home/templates/element/footerlink.html"'></div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-include='"home/templates/element/lowerfooter.html"'></div>
</section>
<!--  Footer Ends -->
</main>
<!--slick --> 

<!-- Modal Login -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-login">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="popup-logo">
                    <img src="home/scss/images/footer-logo.png" alt="" >
                </div>
                <h1>Sign In</h1>
                <div ng-show="message" class="alert alert-danger">{{message}}</div>
                <form class="login" ng-submit="login()" id="login">
                    <div class="form-group">        
                        <input type="email"    name="email" ng-model="user.email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">         
                        <input type="password"  name="password" ng-model="user.password" class="form-control" placeholder="Enter Password">
                    </div>       
                    <input type="submit" name="submit" class="btn defult_btn contin-log" value="Continue">
                </form> 
                <div class="or">OR</div>
                <div class="col-sm-12">
                    <div class="row">
                        <button class="loginBtn loginBtn--facebook">                            
                            <a href="/auth/facebook">   Login with Facebook</a>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <button class="loginBtn loginBtn--google">
                            <a href="/auth/google">  Login with Google</a>
                        </button>
                    </div>
                </div>

                <p class="ntlog"><span>Don't have an Account ?  <a id='signmchk' style="cursor: pointer">Sign Up</a></span></p>
                <p><span><a id='forgetchk' style="cursor: pointer">Forgot Password?</a></span></p>
            </div>

        </div>

    </div>
</div>

<!-- Modal Login -->
<div id="frget" class="modal fade" role="dialog">
    <div class="modal-dialog modal-login">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="popup-logo">
                    <img src="home/scss/images/footer-logo.png" alt="" >
                </div>
                <h1>Forgot Password</h1>
                <div ng-show="message" class="alert alert-danger">{{message}}</div>
                <form class="login" ng-submit="forgetpass()" id="forget">
                    <div class="form-group">        
                        <input type="email"    name="email" ng-model="user.email" class="form-control" placeholder="Email">
                    </div>
                           
                    <input type="submit" name="submit" class="btn defult_btn contin-log" value="Continue">
                </form> 
            </div>
        </div>
    </div>
</div>


<!-- Modal Login -->
<div id="myModalsigup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-login">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="popup-logo">
                    <img src="home/scss/images/footer-logo.png" alt="" >
                </div>
                <h1>Sign Up</h1>
                <div ng-show="message" class="alert alert-danger">{{message}}</div>
                <form class="login" ng-submit="signup()" id="signup">

                    <div class="form-group">        
                        <input type="email" name="email"  required="" ng-model='user.email' class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">         
                        <input type="password" name="password"  required="" class="form-control" ng-model='user.password' placeholder="Enter Password" >
                    </div>   

                    <div class="form-group">         
                        <input type="password" name="ConfirmPassword" ng-model="user.cpassword"  required="" class="form-control" placeholder="Re-Enter Password" >
                    </div> 
                    <div class="form-group ">                           
                        <input type="text"  name='dob' ng-model="user.dob"  required="" class="form-control" placeholder="DD.MM.YYYY or DD.MM.YY">
                    </div> 
                    <input type="submit" name="submit" value="Create Account" class="btn defult_btn contin-log">
                </form> 
                    <div class="or">OR</div>
                <div class="col-sm-12">
                    <div class="row">
                        <button class="loginBtn loginBtn--facebook">                            
                            <a href="/auth/facebook">   Sign Up with Facebook</a>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <button class="loginBtn loginBtn--google">
                            <a href="/auth/google">  Sign Up with Google</a>
                        </button>
                    </div>
                </div>


                <p><span>Have an Account ?  <a id='logmchk' style="cursor: pointer">Login</a></span></p>
                <p>Creating an account means you're okay with slugr Terms of Services. Privacy Policy</p>
            </div>

        </div>

    </div>
</div>
