<section class="inner-bg">
    <div class="smart-container">
        <div class="container"> 
            <div class="heading">
                <h1>Change Password<span></span></h1><h1>        
                </h1></div>
            <div class="tripdetailbox trippwd">
              <div class="form-group ">
                                 <p ng-show="changepass" class="danger">{{changepass}}</p>
                             </div>
                <form class="form-horizontal" method="post" ng-submit="changepassword(cpass)">
                    <div id="div_id_username" class="form-group required">
                        <label for="oldpwd" class="control-label col-md-4  requiredField"> Old Password<span class="asteriskField"> : </span> </label>
                        <div class="controls col-md-8 ">
                            <input ng-model="cpass.password" name="oldPassword" class="input-md  textinput textInput textInputmy form-control" id="oldpwd" maxlength="30"  placeholder="Old Password" style="margin-bottom: 10px" type="password">
                        </div>
                    </div>
                    <div id="div_id_email" class="form-group required">
                        <label for="newpwd" class="control-label col-md-4  requiredField"> New Password<span class="asteriskField"> : </span> </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textinput textInput textInputmy form-control" id="newpwd" maxlength="30" ng-model="cpass.newPassword" name="Password" placeholder="New Password" style="margin-bottom: 10px" type="password">
                        </div>   
                    </div>
                    <div id="div_id_name" class="form-group required"> 
                        <label for="cpwd" class="control-label col-md-4  requiredField"> Confirm Password<span class="asteriskField"> : </span> </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textinput textInput textInputmy form-control" id="cpwd" maxlength="30" ng-model="cpass.cpwd" name="cpwd" placeholder="Confirm Password" style="margin-bottom: 10px" type="password">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="aab controls col-md-4 "></div>
                        <div class="controls col-md-8 ">
                            <input type="submit" name="Signup" value="Submit" class="btn btn-primary btn btn-info">
                            <input type="reset" name="Signup" value="Reset" class="btn btn-primary btn btn-info">
                        </div>
                    </div> 

                </form> 
            </div>
        </div>

    </div> 
</section>