<div class="smart-container">
    <div class="container">
        <div class="col-sm-12">
            <div class="heading">
                <h1>Forgot Password<span></span></h1>        
            </div>
        </div>
        <div class="container">
            <div class="all-post">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="form-group ">
                                 <p ng-show="message" class="danger">{{message}}</p>
                             </div>
                            <div class="login_box_m">
                                <form method="post" ng-submit="forgotpassword(user)" id="forget">
                                    <div class="loign_form">                                      
                                        <p><label>  password  <i>*</i></label><span> 
                                               
                                                <input type="password" ng-model="user.password" name="password" ></span></p>
                                        <p><label>  Confirm Password <i>*</i></label><span>
                                                <input type="password" ng-model="user.confirmpassword" name="ConfirmPassword">
                                               
                                            </span></p>
                                    </div>     
                                   <input type="submit" name="submit" class="btn defult_btn contin-log" value="Continue">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>