<section class="inner-bg" ng-controller="ProfileCtrl">
    <div class="smart-container">
        <div class="container">
            <div class="col-sm-12">
                <div class="heading">
                    <h1>Profile<span></span><h1>        
                            </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="myprofile">
                                        <div class="col-sm-6">
                                            <div class="profile-img">
                                                <image src="{{currentUser.profilepic}}" class="img-responsive" alt="">
                                            </div>

                                        </div>

                                        <div class="col-sm-6">
                                            <div class="profile-decsr">
                                                <div class="edit">
                                                    <span><a href="/home/#/edit">EDIT</a></span>
                                                </div>
                                                <form class="form-horizontal">
                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-4" for="email">First Name:</label>
                                                        <div class="col-sm-8">
                                                            <div class="text-right">{{currentUser.firstname}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-4" for="email">Last Name:</label>
                                                        <div class="col-sm-8">
                                                            <div class="text-right">{{currentUser.lastname}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-2" for="pwd">Email:</label>
                                                        <div class="col-sm-10">
                                                            <div class="text-right">{{currentUser.email}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-2" for="pwd">Phone:</label>
                                                        <div class="col-sm-10">
                                                            <div class="text-right">{{currentUser.phone}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-4" for="pwd">Date of Birth:</label>
                                                        <div class="col-sm-8">
                                                            <div class="text-right">{{currentUser.dob}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-2" for="pwd">Address:</label>
                                                        <div class="col-sm-10">
                                                            <div class="text-right">{{currentUser.address}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-5" for="pwd">Government id Country:</label>
                                                        <div class="col-sm-7">
                                                            <div class="text-right">{{currentUser.country}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-5" for="pwd">Government id Number:</label>
                                                        <div class="col-sm-7">
                                                            <div class="text-right">{{currentUser.gin}}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-5" for="pwd">Passport id Number:</label>
                                                        <div class="col-sm-7">
                                                            <div class="text-right">{{currentUser.pin}}</div>
                                                        </div>
                                                    </div>

                                                  


                                                    <div class="form-group lin-btm">
                                                        <label class="control-label col-sm-5" for="pwd">Bank information:</label>
                                                        <div class="col-sm-7">
                                                            <div class="text-right"> Debit/Credit Card </div>
                                                        </div>
                                                    </div>



                                                </form> 
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            </div>
                            </div>
                            </section>