<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Page
            <small>Edit Page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard#/userList"><i class="fa fa-dashboard"></i> Page</a></li>
            <li class="active">Edit Page</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-11">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Page</h3>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-success" ng-show="update">
                            <strong ng-bind="update" ></strong> 
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='form-group'>
                            <input type='text' placeholder='Title' ng-model='page.title' name='title' class='form-control'>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type='hidden' placeholder='blog' ng-model='page.id' name='id' class='form-control'>

                    </div>
                     <div class='form-group'>
                        <select name="category" class="form-control" ng-model='page.role' required="">                              
                            <option ng-repeat="data in role">{{data}}</option>    
                        </select>
                    </div>
                     
     
                    <div class="form-group full-height">
                        <textarea class="form-control full-height" id="pad" ng-model='page.description' name="description" placeholder='Write your description'></textarea>
                        <div class="col-md-8 full-height" id="markdown">
                            <div btf-markdown='page.description'></div>
                        </div>
                    </div>                    
                   
                    <div class="form-group">
                        <div class='btn btn-success pull-right' ng-click='editPage()'>Publish Post</div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>