$primary-font: 'AquaGrotesque';
$primary-color: #f68025;
$font-color: #333;
$second-color:#f58025;
$black-color:#000;
$white-color:#fff;
$darkblue-color:#084773;
$grey-color:#e5e5e5;
$light-cream:#fffbf4;
$grey-upload:#e1e1e1;

// Heading Size Include Here
$heading-one: 31px;
$heading-two: 27px;
$heading-three: 23px;
$heading-four: 21px;
$heading-five: 19px;
$heading-six: 16px;
// Default Font Size
$default-font: 16px;
// Default Margins PX
$margin-top:100%;

$smallscreen-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
