
@font-face {
  font-family: 'AquaGrotesque';
  src: url('../fonts/AquaGrotesque.eot?#iefix') format('embedded-opentype'),  url('../fonts/AquaGrotesque.woff') format('woff'), url('../fonts/AquaGrotesque.ttf')  format('truetype'), url('../fonts/AquaGrotesque.svg#AquaGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}
