<div class="smart-container">
<div class="container">
          <div class="col-sm-12">
         <div class="heading">
          <h1>Contact Us<span></span><h1>        
        </div>
        </div>

   <div class="contact">             
    
       
       <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 center1">
              <i class="fa fa-th" aria-hidden="true"></i>
              <h3> Get in Touch </h3>
              <span> 
                    Phone: 0123456890 <br />
                    Email : abc@gmail.com
              </span>
          </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 center1">
                 <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h3> Our Location </h3>
              <span> 
                    Address: lorem Ipsum is text of the printing and lorem <br />
                   
              </span>
     
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 center1">
      
         <i class="fa fa-book" aria-hidden="true"></i>
              <h3> 24x7 Support </h3>
              <span> 
                    Industry's standard dummy text.
              </span>
         
            </div>
     
    </div>
    </div>

       <div class="container contactfrm">
        <div class="row">
           <div class="alert alert-success" ng-show="message">
                            <strong ng-bind="message" ></strong> 
                        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <form  class="form-horizontal" method="post" ng-submit="Contact(contact);">
                     <div id="div_id_username" class="form-group required">
                            <label for="id_username" class="control-label col-md-4  requiredField"> Name<span class="asteriskField"> : </span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md  textinput textInput textInputmy form-control" required='' maxlength="30" name="name" ng-model="contact.name" placeholder="Enter Name" style="margin-bottom: 10px" type="text" />
                            </div>
                        </div>
                        <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> E-mail<span class="asteriskField"> : </span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md emailinput textInputmy form-control" id="id_email" name="email" required='' ng-model="contact.email" placeholder="Enter Email Address" style="margin-bottom: 10px" type="email" />
                            </div>     
                        </div>
                     
                      
                        <div id="div_id_name" class="form-group required"> 
                            <label for="id_name" class="control-label col-md-4  requiredField"> Message<span class="asteriskField"> : </span> </label> 
                            <div class="controls col-md-8 "> 
                                <textarea rows="5" class="input-md textinput textInput form-control" required='' name="message" ng-model="contact.message" style="margin-bottom: 10px">Message </textarea>
                            </div>
                        </div>
                      
                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="Signup" value="Submit" class="btn btn-primary btn btn-info" />
                                
                            </div>
                        </div> 
                            
                    </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="map-responsive">
   <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div
          </div>
        </div>
      </div>
    </div> <!--contact-->
      </div>
    </div>
</div>